doctype html
html(lang="en")
head
  title= "Task Details"
  link(rel="stylesheet", href="/style.css")
body
  h1 You are viewing task #{id} using a template
  
  // each t in tasks -> traverse through the tasks array
  div 
    h2 You are viewing task #{_id}
    p Task: #{task}
    p Name: #{user}
